<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omralcorut.jiankun">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.omralcorut.jiankun.IntroActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.omralcorut.jiankun.MainActivity" />
        <activity
            android:name="com.omralcorut.jiankun.FoodStatusActivity"
            android:label="Food Status" />
        <activity
            android:name="com.omralcorut.jiankun.MyOrdersActivity"
            android:label="History" />
        <activity
            android:name="com.omralcorut.jiankun.MenuActivity"
            android:label="Menu" />
        <activity android:name="com.omralcorut.jiankun.FoodActivity" />
        <activity
            android:name="com.omralcorut.jiankun.CartActivity"
            android:label="Cart"></activity>
    </application>

</manifest>